body {
  background-color: #ddd;
  font-family: 'Quicksand', sans-serif;
  color: #000;
}

.outside {
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 15px grey;
  margin: 10px;
  max-width: 310px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.photoDiv {
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  padding-bottom: 10px;
}

.photo300 {
  /* margin: auto; */
  align-self: flex-start;
}

.text {
  /* justify-self:  */
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: visibility 0s 1s, opacity 1s, display 1s 2s linear;
}

a {
  font-weight: bold;
}

img {
  margin:auto;
}

.body {
  background-color: #000;
}

.citiesCheckBoxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cityDiv {
  margin: 0 5px 0 5px;
  display: flex;
  flex-direction: row;
}
